<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TaskBunny{% endblock %}</title> <!--sets title for HTML page-->
    <link rel="icon" href="{{ url_for('static', filename='img/bunnylogo.png') }}" type="image/icon type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header">
        <a href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='img/bunnylogo.png') }}" alt="Bunny Logo">
        </a>

        <ul id="list">
            <li><a href="{{ url_for('calender') }}">Calendar</a></li>
            <li><a href="{{ url_for('new_task') }}">New Task</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
        </ul>
    </header>

    <main id="main">
        <section>
            <h1>Over-view</h1>
            <p class="maintext">ⓘ {{taskdue}} tasks due today!</p>
            <p class="maintext">ⓘ {{overdue}} overdue tasks due today!</p>
            <p class="maintext">ⓘ {{daily}} daily tasks due today!</p>
        </section>

        {% if daily > 0 %}
            <section class="today">
                <h1>!! Daily !!</h1>
                {% for y in daily_tasks%}
                    <p class="maintext">ⓘ {{ y }}</p>
                {%endfor%}
            </section>
        {% endif %}

        {% if overdue > 0 %} <!--This is done using jinja-->
            <section class="today">
                <h1>!! Overdue !!</h1>
                {% for j in overdue_task%}
                <p class="maintext"> ⓘ{{ j }}</p>
                {%endfor%}
            </section>
        {% endif %}


        {% if taskdue > 0 %}
            <section class="today">
                <h1>!! Today !!</h1>
                {% for i in today_task%}
                    <p class="maintext"> ⓘ{{i}}</p>
                {%endfor%}
            </section>
        {% endif %}
        

        {% if taskdue == 0%}
            {% if overdue == 0%}
                <section class="today">
                    <h1> ALL DONE :D</h1>
                </section>
            {% endif %}
        {% endif %}
            
    </main>

    <footer id="footer">
        <p>&copy; 2023 TaskBunny. All rights reserved.</p>
    </footer>
</body>

</html>
