<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TaskBunny{% endblock %}</title> <!--sets title for HTML page-->
    <link rel="icon" href="{{ url_for('static', filename='img/bunnylogo.png') }}" type="image/icon type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header">
        <a href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='img/bunnylogo.png') }}" alt="Bunny Logo">
        </a>

        <ul id="list">
            <li><a href="{{ url_for('calender') }}">Calendar</a></li>
            <li><a href="{{ url_for('new_task') }}">New Task</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
        </ul>
    </header>

    <main>
        <h1>Add a new task</h1>
        <form method="post" action="{{ url_for('new_task') }}">
            <label for="task_name">Task Name:</label>
            <input type="text" id="task_name" name="task_name" required>

            <label for="subject">Subject:</label>
                <select id="subject" name="subject">
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="english">English</option>
                    <option value="art">Art</option>
                    <option value="computer_science">Computer Science</option>
                    <option value="social_studies_history">Social Studies/History</option>
                    <option value="foreign_languages">Foreign Languages</option>
                    <option value="health_education">Health Education</option>

                </select>
    
            <label for="task_description">Task Description:</label>
            <textarea id="task_description" name="task_description" rows="4" required></textarea>
    
            <label for="due_date">Due Date:</label>
            <input type="date" id="due_date" name="due_da`te" required>
    
            <button type="submit">Submit</button>
        </form>
    </main>

    <footer id="footer">
        <p>&copy; 2023 TaskBunny. All rights reserved.</p>
    </footer>
</body>

</html>
